*{
	box-sizing: border-box; 
}

body{
	margin: 0px; 
	font-family: sans-serif;
	background-color: #99CC99;
}

section{

	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 22px;
	margin-bottom: 22px;
}

header{
	background-color: #336666;
	color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 70px;
	background-color: #FFCC99;
}

nav a, nav h3{
	color: black;
	float: left;
	padding:5px 5px;
	margin: 0px;
	line-height: 60px;
	margin-left: 20px;
	margin-right: 20px;
	text-decoration: none;
	text-align: center;
}

nav a:hover{
	background-color: rgb(255,255,153); 


}
h1 {
	text-align: center;
	font: 50px;
}

p {
	color:white;
}

.g-row {
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%;
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
	width: 650px;
	height: 288px;
	background-color: #939393);
	padding: 30px;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px;
}